<div class="container-fluid bg-light">
    <div class="container">
        <form>
            <div class="form-group">
                <input type="text" name="GitHub search" [(ngModel)]='repoName' (keyup)="findRepo()">
            </div>
        </form>

        <div *ngIf="repoitems">
             <div class="panel panel-default">
            <h3>Repos</h3>
        </div>
        <div class="panel-body" *ngFor='let repo of userRepos'>

                <h3>{{repo.name}}</h3>
                <p>Created: {{repo.created_at | dateAgo}}</p>
                <p>Language Used: {{repo.language}}</p>
                <p>{{repo.description}}</p>
                <span><a href="{{repo.html_url}}" class="btn btn-warning pull-right">View repos</a></span>
        </div> 

        </div>

    </div>
</div>